
@if (showPopup) {
  <div class="popup-overlay">
    <div class="popup-content">
      <button class="close-btn" (click)="onClose()">❌</button>
      <h2>{{ userStatus === 'login' ? 'התחברות' : 'הרשמה' }}</h2>

      <form [formGroup]="form_enter_to_system" (submit)="onSubmit()">
        @for (field of getFormFields; track field) {
          @if (field === 'role') {
            <div class="form-group">
              <label for="role">role</label>
              <select formControlName="role" id="role" class="form-control">
                <option value="" disabled selected>choose a role</option>
                <option value="admin">admin</option>
                <option value="student">stuent</option>
                <option value="teacher">teacher</option>
              </select>
            </div>
          }
          @else {
            <div class="form-group">
              <label [for]="field">{{ field }}</label>
              <input [formControlName]="field" [type]="field === 'password' ? 'password' : (field === 'email' ? 'email' : 'text')" class="form-control">
            </div>
          }
        }
        <button type="submit" class="submit-btn">send</button>
      </form>
    </div>
  </div>
}


